html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  padding: 26px 42px;
  max-width: 800px;
  margin: auto;
}

.page-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 18px;
}

.block-container {
  margin-bottom: 24px;
  padding: 8px;
  transition: 0.3s;
}

.block-container:hover {
  box-shadow: 4px 4px 12px rgba(0,0,0,0.25);
}